/* core 123*/

@color-menu-border: #ccc;
@color-menu-child-border: #eee;
@color-menu-children-split-border: #eee;
@color-menu-link: #777;
@color-menu-link-selected: #000;
body {
    line-height: 1.6;
}

.user-select(@user-select-status: none) {
    -moz-user-select: @user-select-status;
    -o-user-select: @user-select-status;
    -khtml-user-select: @user-select-status;
    -webkit-user-select: @user-select-status;
    -ms-user-select: @user-select-status;
    user-select: @user-select-status;
}

.workbench {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    buttom: 0;
    overflow: hidden;
}

.pure-menu {
    .pure-menu-children.animated {
        display: inline-block;
    }
    .user-select;
    .pure-menu-link {
        cursor: pointer;
    }
    .pure-menu-selected .pure-menu-link,
    .pure-menu-selected .pure-menu-link:visited {
        color: @color-menu-link;
    }
    .pure-menu-selected>.pure-menu-link,
    .pure-menu-selected>.pure-menu-link:visited {
        color: @color-menu-link-selected;
    }
}

.pure-menu-horizontal {
    border-bottom: 1px solid @color-menu-border;
    .pure-menu-children {
        .pure-menu-children {
            left: 100%;
            top: 0;
        }
        .pure-menu-has-children>.pure-menu-link:after {
            content: "\25B8";
        }
        border: 1px solid @color-menu-child-border;
        .pure-menu-item {
            border-top: 1px solid @color-menu-children-split-border;
        }
        :first-child {
            border-top: none;
        }
    }
}

.pure-menu-vertical {
    .pure-menu-children {
        position: static;
        >.pure-menu-item {
            >.pure-menu-link {
                padding-left: 1.5em;
            }
        }
    }
    .pure-menu-has-children > .pure-menu-link:after {
        content: "\25BE";
    }
}
